.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid #DCDCDD;
    align-items:center;
}
.left-navbar
{

}
.middle-navbar{

}
.middle-navbar ul, .right-navbar ul{
    display: flex;
    gap: 2rem;
}
.active-navbtn{
    border-bottom: 3px solid red;
}
.list-item{
    list-style: none;
}
.list-item a{
    text-decoration: none;
    color: black;
}
.list-item select{
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #DCDCDD;
}

.right-navbar{

}
.media-header{
    display: none;
}
#hamBtn{
    border: none;
}
.dropdown-overlay {
    position: fixed;
    top: 65px;
    right: 0;
    width: 150px;
    height: max-content;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.95); /* semi-transparent white */
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown-overlay li {
    list-style: none;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    text-align: center;
    background-color: inherit;
  }
  
  .dropdown-overlay li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .username{
    display: flex;
    gap: 15px;
    align-items: center;
  }
#user-image{
    border-radius: 50%;
}
@media screen and (max-width:500px){
    .middle-navbar{
        display: none;
    }
    .right-navbar{
        display: none;
    }
    .media-header{
        display: block;
    }
}